In [18]:
import pandas as pd
import csv
import re
import os
import random
import numpy as np

In [2]:
os.getcwd()

'd:\\github_personal\\EnglishVocabularyMountain\\analysis'

In [3]:
data = pd.read_excel(f'd:\\github_personal\\EnglishVocabularyMountain\\src\\assets\\vocab-data\\Clean Magoosh 1000 Words.xlsx')

In [4]:

data.describe()

,Word,Definition,PoS,Example
count,1066,1066,1066,1066
unique,997,1039,4,1064
top,savvy,a trite or obvious remark.,adjective,This word has other definitions but this is th...
freq,3,3,541,2

In [5]:
# data[data['Definition'].duplicated()]
data[data['Definition']=='very generous.']

,Word,Definition,PoS,Example
212,munificent,very generous.,adjective,"Uncle Charley was known for his munificence, g..."
1052,unstinting,very generous.,adjective,"Helen is unstinting with her time, often spend..."

In [6]:
data['StartingCharacterOfWord'] = data['Word'].apply(lambda x: x.lstrip()[0].lower())

In [7]:
data['StartingCharacterOfWord'].unique()

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'z', 'k'],
      dtype=object)

In [8]:
data['StartingCharacterOfWord'].value_counts()

StartingCharacterOfWord
p    113
a    103
c    101
i     95
d     87
e     84
s     73
m     56
b     53
r     46
t     41
f     37
u     26
v     26
h     25
g     25
o     19
l     19
j     12
q     10
n      7
w      5
z      2
k      1
Name: count, dtype: int64

In [9]:
data[data['StartingCharacterOfWord']=='k']

,Word,Definition,PoS,Example,StartingCharacterOfWord
906,kowtow,to bow or act in a subservient manner.,verb,Paul kowtowed to his boss so often the boss he...,k

In [12]:
data = data.sort_values(by=['StartingCharacterOfWord', 'Word']).reset_index(drop=True)

In [13]:
data.head()

,Word,Definition,PoS,Example,StartingCharacterOfWord
0,aberrant,markedly different from an accepted norm.,adjective,When the financial director started screaming ...,a
1,aberration,a deviation from what is normal or expected.,noun,Aberrations in climate have become the norm: r...,a
2,abjure,formally reject or give up (as a belief).,verb,While the church believed that Galileo abjured...,a
3,aboveboard,open and honest.,adjective,"The mayor, despite his avuncular face plastere...",a
4,abrogate,revoke formally.,verb,As part of the agreement between the labor uni...,a

In [25]:
data.shape, data.shape[0]/30, len(data['Word'].unique())/30

((1066, 6), 35.53333333333333, 33.233333333333334)

# Grouping logic
- 35 words per day - Totalling of approximately 30 days
- Each day must contain A-Z starting characters
- Words have to be grouped and should be considered as 1 word with different PoS `Part of Speech`

RandomId
860    1066
Name: count, dtype: int64